/* color palette from <https://github.com/vuejs/theme> */
:root {
  --light-white-color: #f7f7f2;
  --beige-color: #e4e6c3;
  --moss-green-color: #899878;
  --eerie-black-color: #222725;
  --night-color: #121113;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--night-color);
    --color-background-soft: var(--night-color);
    --color-background-mute: var(--night-color);

    --color-border: var(--eerie-black-color);
    --color-border-hover: var(--eerie-black-color);

    --color-heading: var(--light-white-color);
    --color-text: var(--light-white-color);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
